In [1]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
import numpy as np

# Data import

In [2]:
arima_results = pd.read_csv('arima_results.csv', index_col = 0)

In [3]:
arima_results

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS450E,XS450E/16,XS500E,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,38,0,60,0,2,90,20,3,8,11,...,0,0,1,0,1,0,0,0,0,0
2021-07-19,41,0,83,0,2,88,27,3,29,9,...,0,0,1,0,1,0,0,0,0,0
2021-07-26,36,0,78,0,2,94,21,3,16,7,...,0,0,1,0,1,0,0,0,0,0
2021-08-02,39,0,76,0,2,59,36,3,8,5,...,0,0,1,0,1,0,0,0,0,0
2021-08-09,47,0,76,0,2,100,24,3,8,4,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,41,0,76,0,2,78,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-09,41,0,76,0,2,84,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-16,41,0,76,0,2,79,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-23,41,0,76,0,2,82,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-30,41,0,76,0,2,81,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0

In [4]:
test_data = pd.read_csv('test_data.csv', index_col = 0)

In [5]:
test_data

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,8,0,52,0,0,48,8,0,10,30,...,0,0,0,0,0,0,0,216.03,1,105.1
2021-07-19,66,0,192,0,0,66,110,6,0,4,...,0,0,0,0,0,0,0,211.99,1,105.1
2021-07-26,222,0,66,0,6,260,98,0,16,2,...,0,0,0,0,0,0,0,172.01,1,105.1
2021-08-02,0,0,6,0,0,96,0,0,20,0,...,0,0,0,0,0,0,0,167.95,1,105.1
2021-08-09,20,0,18,0,0,28,0,0,0,0,...,0,2,0,0,0,0,0,160.54,1,105.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,0,0,0,0,0,10,4,0,0,0,...,0,0,0,0,0,0,0,122.33,0,116.6
2023-01-09,18,0,44,0,4,28,30,0,0,0,...,0,0,0,0,0,0,0,122.16,0,116.6
2023-01-16,36,0,24,0,0,4,16,0,0,0,...,0,0,0,0,0,0,0,122.70,0,116.6
2023-01-23,14,0,28,0,8,14,34,0,2,0,...,0,0,0,0,0,0,0,125.26,0,116.6
2023-01-30,16,0,28,0,0,54,56,6,4,0,...,0,0,0,0,0,0,0,125.14,0,116.6

In [6]:
results = pd.read_csv('mae_results.csv', index_col = 0)

In [7]:
results

           AutoARIMA  N-BEATS  Prophet  Best model
ES080E            37        0        0         NaN
ES1000E            0        0        0         NaN
ES100E            57        0        0         NaN
ES1200E            0        0        0         NaN
ES125E             6        0        0         NaN
...              ...      ...      ...         ...
XS600E/16          0        0        0         NaN
XS700E             0        0        0         NaN
XS700E/16          0        0        0         NaN
XS800E             0        0        0         NaN
XS900E             0        0        0         NaN

[1262 rows x 4 columns]

In [12]:
nbeats_results = pd.read_csv('nbeats_results.csv', index_col = 0)

In [13]:
nbeats_results

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS450E,XS450E/16,XS500E,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,17.491283,0.114474,8.286423,1.046453,17.055902,93.737002,24.609197,-1.138880,8.714841,19.776315,...,1.963456,1.048577,0.626503,-0.243723,2.441056,-1.291796,0.796420,-0.416937,-0.725601,-2.318513
2021-07-19,11.704523,0.609153,21.870482,3.867278,4.256321,96.350737,1.798669,-0.840683,5.092324,6.268285,...,0.329378,1.030527,0.665128,-0.021398,4.693477,1.054131,-2.188788,0.384873,-4.682947,2.299759
2021-07-26,9.755110,-1.386383,56.619469,1.950511,3.364473,20.775116,6.246668,-1.866085,5.191368,6.148299,...,-0.613072,-1.501162,1.372876,1.351790,3.860757,1.681439,0.521686,-0.947241,0.689794,-0.940532
2021-08-02,6.792890,0.255339,53.242695,-0.007120,2.529744,10.639664,0.673437,1.064341,6.146628,-2.836451,...,-0.118308,2.942320,4.783639,-0.695387,-1.323907,-0.007209,2.351608,1.426814,1.877675,-0.617796
2021-08-09,-2.623413,-0.390665,-0.126830,-4.284973,0.078470,-7.146146,-0.144168,-0.479949,1.717743,0.439896,...,-0.350782,0.422415,-2.668623,-0.231923,-0.288296,0.096730,-1.323444,0.951572,-1.675660,-0.986586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,22.100459,1.022888,30.574256,-3.354768,-2.150755,52.817677,13.287286,2.191928,18.747065,16.932791,...,-1.175560,1.042480,-1.356927,0.879609,2.446093,2.540078,-1.027526,0.655313,1.493445,-1.107759
2023-01-09,63.413871,1.865719,26.638563,-2.972620,3.610527,52.877826,15.428624,1.350633,6.935078,4.066436,...,0.048507,-1.187004,2.786526,-1.294456,5.090067,-0.219855,-2.425033,-0.026164,3.019514,1.366483
2023-01-16,119.178033,2.753275,173.634649,-0.361387,14.220825,182.512638,34.682664,8.455353,40.957337,31.301423,...,0.660473,0.389637,-3.147973,2.591487,5.444425,-4.298227,0.151488,-0.189537,-1.113537,0.717921
2023-01-23,99.030489,-0.925355,273.243156,-1.013114,9.123960,230.289118,42.891476,7.080965,47.842958,31.171536,...,1.042766,1.020337,-8.633348,3.552836,2.908206,2.454485,0.465151,0.533450,-0.296567,1.384330
2023-01-30,37.467312,2.101651,107.954246,-0.761667,-0.887173,76.073586,69.138179,-1.000312,11.494450,10.694684,...,0.903542,0.350636,7.077384,-0.135324,-1.852014,-0.285924,1.600809,0.140448,-3.160645,-1.370733

# Creating dataframe for results of MAE metric

In [18]:
products = test_data.columns[0:1262]

In [19]:
products

Index(['ES080E', 'ES1000E', 'ES100E', 'ES1200E', 'ES125E', 'ES150E', 'ES200E',
       'ES200E/16', 'ES250E', 'ES250E/16',
       ...
       'XS450E', 'XS450E/16', 'XS500E', 'XS500E/16', 'XS600E', 'XS600E/16',
       'XS700E', 'XS700E/16', 'XS800E', 'XS900E'],
      dtype='object', length=1262)

In [25]:
results = pd.DataFrame(index = products)

In [29]:
results["AutoARIMA"] = 0
results["N-BEATS"] = 0
results["Prophet"] = 0

In [30]:
results

           AutoARIMA  N-BEATS  Prophet
ES080E             0        0        0
ES1000E            0        0        0
ES100E             0        0        0
ES1200E            0        0        0
ES125E             0        0        0
...              ...      ...      ...
XS600E/16          0        0        0
XS700E             0        0        0
XS700E/16          0        0        0
XS800E             0        0        0
XS900E             0        0        0

[1262 rows x 3 columns]

# Processing AutoARIMA results

In [11]:
type(arima_results.iloc[0,0])

numpy.float64

In [12]:
arima_results = arima_results.applymap(lambda x: round(x))

In [13]:
arima_results

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS450E,XS450E/16,XS500E,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,38,0,60,0,2,90,20,3,8,11,...,0,0,1,0,1,0,0,0,0,0
2021-07-19,41,0,83,0,2,88,27,3,29,9,...,0,0,1,0,1,0,0,0,0,0
2021-07-26,36,0,78,0,2,94,21,3,16,7,...,0,0,1,0,1,0,0,0,0,0
2021-08-02,39,0,76,0,2,59,36,3,8,5,...,0,0,1,0,1,0,0,0,0,0
2021-08-09,47,0,76,0,2,100,24,3,8,4,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,41,0,76,0,2,78,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-09,41,0,76,0,2,84,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-16,41,0,76,0,2,79,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-23,41,0,76,0,2,82,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-30,41,0,76,0,2,81,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0

In [51]:
arima_results.to_csv('arima_results.csv')

In [20]:
mae = []
for product in products:
    y_pred = np.array(arima_results[product])
    y_true = np.array(test_data[product])
    metric = mean_absolute_error(y_true, y_pred)
    mae.append(metric)

results['AutoARIMA'] = mae
results.to_csv('mae_results.csv')

In [21]:
results

           AutoARIMA    N-BEATS  Prophet  Best model
ES080E            37  42.426829        0         NaN
ES1000E            0   1.829268        0         NaN
ES100E            57  65.719512        0         NaN
ES1200E            0   1.780488        0         NaN
ES125E             6   7.097561        0         NaN
...              ...        ...      ...         ...
XS600E/16          0   1.329268        0         NaN
XS700E             0   1.341463        0         NaN
XS700E/16          0   0.829268        0         NaN
XS800E             0   1.865854        0         NaN
XS900E             0   1.085366        0         NaN

[1262 rows x 4 columns]

In [ ]:
results = results.applymap(lambda x: round(x))

In [54]:
results

           AutoARIMA  N-BEATS  Prophet
ES080E            37        0        0
ES1000E            0        0        0
ES100E            57        0        0
ES1200E            0        0        0
ES125E             6        0        0
...              ...      ...      ...
XS600E/16          0        0        0
XS700E             0        0        0
XS700E/16          0        0        0
XS800E             0        0        0
XS900E             0        0        0

[1262 rows x 3 columns]

# Processing N-BEATS resuls

In [14]:
type(nbeats_results.iloc[0,0])

numpy.float64

In [15]:
nbeats_results = nbeats_results.applymap(lambda x: round(x))

In [16]:
nbeats_results

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS450E,XS450E/16,XS500E,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,17,0,8,1,17,94,25,-1,9,20,...,2,1,1,0,2,-1,1,0,-1,-2
2021-07-19,12,1,22,4,4,96,2,-1,5,6,...,0,1,1,0,5,1,-2,0,-5,2
2021-07-26,10,-1,57,2,3,21,6,-2,5,6,...,-1,-2,1,1,4,2,1,-1,1,-1
2021-08-02,7,0,53,0,3,11,1,1,6,-3,...,0,3,5,-1,-1,0,2,1,2,-1
2021-08-09,-3,0,0,-4,0,-7,0,0,2,0,...,0,0,-3,0,0,0,-1,1,-2,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,22,1,31,-3,-2,53,13,2,19,17,...,-1,1,-1,1,2,3,-1,1,1,-1
2023-01-09,63,2,27,-3,4,53,15,1,7,4,...,0,-1,3,-1,5,0,-2,0,3,1
2023-01-16,119,3,174,0,14,183,35,8,41,31,...,1,0,-3,3,5,-4,0,0,-1,1
2023-01-23,99,-1,273,-1,9,230,43,7,48,31,...,1,1,-9,4,3,2,0,1,0,1
2023-01-30,37,2,108,-1,-1,76,69,-1,11,11,...,1,0,7,0,-2,0,2,0,-3,-1

In [17]:
nbeats_results.to_csv('nbeats_results.csv')

In [ ]:
mae_nbeats = []
for product in products:
    y_pred = np.array(nbeats_results[product])
    y_true = np.array(test_data[product])
    metric = mean_absolute_error(y_true, y_pred)
    mae.append(metric)

results['N-BEATS'] = mae
results.to_csv('mae_results.csv')

In [26]:
results

           AutoARIMA    N-BEATS  Prophet  Best model
ES080E            37  42.426829        0           0
ES1000E            0   1.829268        0           0
ES100E            57  65.719512        0           0
ES1200E            0   1.780488        0           0
ES125E             6   7.097561        0           0
...              ...        ...      ...         ...
XS600E/16          0   1.329268        0           0
XS700E             0   1.341463        0           0
XS700E/16          0   0.829268        0           0
XS800E             0   1.865854        0           0
XS900E             0   1.085366        0           0

[1262 rows x 4 columns]

In [27]:
results = results.applymap(lambda x: round(x))

In [28]:
results

           AutoARIMA  N-BEATS  Prophet  Best model
ES080E            37       42        0           0
ES1000E            0        2        0           0
ES100E            57       66        0           0
ES1200E            0        2        0           0
ES125E             6        7        0           0
...              ...      ...      ...         ...
XS600E/16          0        1        0           0
XS700E             0        1        0           0
XS700E/16          0        1        0           0
XS800E             0        2        0           0
XS900E             0        1        0           0

[1262 rows x 4 columns]

In [29]:
results.to_csv('mae_results.csv')

# Processing Prophet results

# Wybranie najlepszego modelu dla każdego produktu

Im mniejsza wartość MAE, tym lepszy model

In [23]:
results["Best model"] = 0

In [24]:
results

           AutoARIMA    N-BEATS  Prophet  Best model
ES080E            37  42.426829        0           0
ES1000E            0   1.829268        0           0
ES100E            57  65.719512        0           0
ES1200E            0   1.780488        0           0
ES125E             6   7.097561        0           0
...              ...        ...      ...         ...
XS600E/16          0   1.329268        0           0
XS700E             0   1.341463        0           0
XS700E/16          0   0.829268        0           0
XS800E             0   1.865854        0           0
XS900E             0   1.085366        0           0

[1262 rows x 4 columns]

In [57]:
results.to_csv('mae_results.csv')