In [1]:
import pandas as pd

In [2]:

# Przykładowy DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 1, 2],
    'C': [3, 5, 1]
})

In [3]:

# Funkcja do znalezienia najmniejszej wartości i jej kolumny
def find_min(row):
    min_value = row.min()
    min_column = row.idxmin()
    return min_column

In [4]:

# Dodanie nowej kolumny z nazwą kolumny zawierającej najmniejszą wartość
df['Najmniejsza kolumna'] = df.apply(find_min, axis=1)

In [5]:
df

   A  B  C Najmniejsza kolumna
0  1  4  3                   A
1  2  1  5                   B
2  3  2  1                   C